   
/*
++++++++++++++++++++++++++++++++++++++++++++++++++++++
[ RESPONSIVE STYLESHEET ]
AUTHOR : ROBERT OKONGO
PROJECT : Split-Smart
VERSION : 1.1
++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/


/*......................................................
	DESKTOP LAYOUT
........................................................*/
@media only screen and (max-width: 900px){
    .ramsh-menu ul li:last-child::after{
        display:none;
    }
    
}


/*......................................................
	MOBILE LAYOUT
........................................................*/
